:root {
  /* Your default theme */
  --background: #ffffff;
  --foreground: #151515;
}

[data-theme='dark'] {
  --background: #151515;
  --foreground: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none#1f1f20;
}

* {
  box-sizing: border-box;
}

.dev-helper .react-grid-item {
  border: 1px dotted red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 2rem;
}
